* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    color: white;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  .mainnn1{
    width: 100%;
    background-color: #1E293B;
  }
  
  .header-content {
    max-width: 50%;
  }
  
  .header-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .header-description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #AFCBFF;
  }
  
  .header-button {
    background-color: #3B82F6; /* Màu xanh của nút */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .header-button:hover {
    background-color: #2563EB; /* Màu xanh khi hover */
  }
  
  .header-image {
    width: 100%;
    display: flex;
    justify-content: center;
    width: auto;
  }
  
  .header-image img {
    border-radius: 12px;
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
  }
  